body {
    background-color: #fff;
    /* CSS To Do 1: Roboto is a web delivered Google Font. 
                    Find and CSS @import it at the top of this file */
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0px;
}


/* 
    Common CSS styles for all the files ends
*/



/* 
    CSS styles for Login and Signup pages begins
*/
#container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px 100px auto;
    grid-gap: 5px;

    /* vh: viewport height */
    min-height: 100vh;
}


#header {
    background-color: darkolivegreen;
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-items: center;
}

#profile {
    background-color: lightsalmon;
    color: white;
    grid-column: 1/2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#announcement-bar {
    background-color: darkseagreen;
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
}

#front-page-posts {
    background-color: darkred;
    color: white;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    justify-content: center;
    align-items: center;
}

.auth-form {
    /* margin-top: 60px; */
    /* padding: 1em; */
    display: block; 
    width: 80%; 
    padding: 10px;
    text-align: center;
}

.form-input-grid {
    display: grid;
    row-gap: 20px;
    /* margin-bottom: 10px; */
}

#signup-grid {
    width: 80%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 10px; 
    gap: 10px;
    text-align: center;
}

.title-text {
    font-size: 30px;
    color: black;
}

#uname, #pword {
    border-radius: 5px;
    height: 20px; 
    font-size: 16px; 
    padding: 10px; 
    font-size: 20px;
}


/* CSS To Do 8: Create a rule for the submit button div so that the submit button aligns to the right*/
/* .align-right {
    display: grid;
    justify-items: right;
    align-items: end;
} */

/* CSS To Do 9: Create a rule for the submit button 
                to add good looking padding and margins. */
#login, #signup {
    width: 100%; 
    border: solid lightblue 2px;
    border-radius: 5px;
    background: lightblue;
    padding: 5px 15px; 
    color: black;
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
}

#login:hover, #signup:hover {
    cursor: pointer;
}
