body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 150px 100px auto;
    grid-gap: 5px;
    min-height: 100vh;
}

#header {
    background-color: darkolivegreen;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    grid-column: 1/3;
    grid-row: 1/2;
}

#logo {
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#header-button-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.header-button {
    width: 100%;
}

#profile {
    background-color: lightsalmon;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 35px 0px 35px 0px;
}

#announcement-bar, #front-page-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 35px;
}

#announcement-bar {
    background-color: darkseagreen;
    grid-column: 2/3;
    grid-row: 2/3;
}

#front-page-posts {
    background-color: darkred;
    grid-column: 2/3;
    grid-row: 3/4;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.auth-form, #signup-grid {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.form-input-grid {
    display: grid;
    row-gap: 20px;
}

#uname, #pword {
    border-radius: 5px;
    height: 20px; 
    font-size: 20px;
    padding: 10px;
}

.login, .signup {
    border: 2px solid lightblue;
    border-radius: 5px;
    background: lightblue;
    padding: 5px 15px;
    color: black;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.login:hover, .signup:hover {
    cursor: pointer;
}

.title-text {
    font-size: 30px;
    color: black;
    text-align: center;
}


.individual-post {
    display: grid;
    grid-template-columns: 10% auto 40%;
    grid-template-rows: 16% 16% auto 15% 25%;
    grid-gap: 5px;
    width: 100%;
    height: 250px;
    background-color: peru;
}

.post-avatar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: cornsilk;
}

.post-username {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: cornsilk;
}

.post-time {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: cornsilk;
}

.post-title {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: cornsilk;
}

.post-content-preview {
    grid-column: 1/3;
    grid-row: 4/6;
    background-color: cornsilk;
}

.post-photo {
    grid-column: 3/4;
    grid-row: 1/5;
    background-color: cornsilk;
}

.post-stats {
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: cornsilk;
}